/* grid-of10 for Basscss */

.gridof10-1 {
  width: calc(1/10 * 100%);
}

.gridof10-2 {
  width: calc(2/10 * 100%);
}

.gridof10-3 {
  width: calc(3/10 * 100%);
}

.gridof10-4 {
  width: calc(4/10 * 100%);
}

.gridof10-5 {
  width: calc(5/10 * 100%);
}

.gridof10-6 {
  width: calc(6/10 * 100%);
}

.gridof10-7 {
  width: calc(7/10 * 100%);
}

.gridof10-8 {
  width: calc(8/10 * 100%);
}

.gridof10-9 {
  width: calc(9/10 * 100%);
}

.gridof10-10 {
  width: 100%;
}

@media (min-width: 40em) {

  .sm-gridof10-1 {
    width: calc(1/10 * 100%);
  }

  .sm-gridof10-2 {
    width: calc(2/10 * 100%);
  }

  .sm-gridof10-3 {
    width: calc(3/10 * 100%);
  }

  .sm-gridof10-4 {
    width: calc(4/10 * 100%);
  }

  .sm-gridof10-5 {
    width: calc(5/10 * 100%);
  }

  .sm-gridof10-6 {
    width: calc(6/10 * 100%);
  }

  .sm-gridof10-7 {
    width: calc(7/10 * 100%);
  }

  .sm-gridof10-8 {
    width: calc(8/10 * 100%);
  }

  .sm-gridof10-9 {
    width: calc(9/10 * 100%);
  }

  .sm-gridof10-10 {
    width: 100%;
  }

}

@media (min-width: 52em) {

  .md-gridof10-1 {
    width: calc(1/10 * 100%);
  }

  .md-gridof10-2 {
    width: calc(2/10 * 100%);
  }

  .md-gridof10-3 {
    width: calc(3/10 * 100%);
  }

  .md-gridof10-4 {
    width: calc(4/10 * 100%);
  }

  .md-gridof10-5 {
    width: calc(5/10 * 100%);
  }

  .md-gridof10-6 {
    width: calc(6/10 * 100%);
  }

  .md-gridof10-7 {
    width: calc(7/10 * 100%);
  }

  .md-gridof10-8 {
    width: calc(8/10 * 100%);
  }

  .md-gridof10-9 {
    width: calc(9/10 * 100%);
  }

  .md-gridof10-10 {
    width: 100%;
  }
}

@media (min-width: 64em) {

  .lg-gridof10-1 {
    width: calc(1/10 * 100%);
  }

  .lg-gridof10-2 {
    width: calc(2/10 * 100%);
  }

  .lg-gridof10-3 {
    width: calc(3/10 * 100%);
  }

  .lg-gridof10-4 {
    width: calc(4/10 * 100%);
  }

  .lg-gridof10-5 {
    width: calc(5/10 * 100%);
  }

  .lg-gridof10-6 {
    width: calc(6/10 * 100%);
  }

  .lg-gridof10-7 {
    width: calc(7/10 * 100%);
  }

  .lg-gridof10-8 {
    width: calc(8/10 * 100%);
  }

  .lg-gridof10-9 {
    width: calc(9/10 * 100%);
  }

  .lg-gridof10-10 {
    width: 100%;
  }

}
