.DS_Store
node_modules
.tmp
npm-debug.log
builds/production/images/**
**.css.map
images-working
builds/development/css/style.css
notes.txt
notes/*
_notes/*
delete.html
delete.txt

#Video
**/exports-high/
**/*Previews/
**/*Auto-Save/
**/*AME/

#Temporary files
*.idlk #indesign

#npm-build-boilerplate
dist
node_modules
npm-debug.log
.sass-cache
